backups
spec/examples.txt
.env
.bundle
db/*.sqlite3
log/*
tags
log/*.log
tmp/
*.swp
*.~lock.*
*~
DS_Store
.DS_Store
vendor/bundle
.sass-cache/
coverage
dump.rdb
.rspec
.rvmrc
.powrc
legacy_opps.csv
data.yml
database.yml
*.log
